{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

  {% block extra_css %}

  <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">
  <!--for google font userd for reward_item_name-->
  {% endblock extra_css %}

{% block content %}
  <!-- Page Heading -->

<div class="btn-group btn-group-lg">
  <a href="{% url 'index' %}" class="btn btn-outline-info active">Available Coupens &nbsp;

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <a href="{% url 'deals' %}" class="btn btn-outline-info">Special Deals&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>



<div class="text-center">
  <br>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Available Points :- {{current_user_points}}</h1>
    
  </div>

  <!-- Content Row -->
  <div class="row">
  
  
  


               
   {% for reward in rewards %}
      
       {% if reward.points_required < current_user_points %}
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                          <div class="text-right"><span class="badge badge-info">
                            {{reward.points_required}} points</span></div>    
                          <div class="card-body">
                                                  
                            <div class="row no-gutters align-items-center">
                              
                                 
                                  <div class="myfont">{{reward.item_name }} &nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;</div>
                                
                                  <br>
                                
                                <img src="{{ reward.item_image.url }}" class="rounded" alt="Cinque Terre" width="165" height="170"> 

                                <div class="h5 mb-0 font-weight-bold text-gray-800">Rs.{{ reward.item_price}}</div>
                              </div>
                              
                              <br>


                             <form action="/cart/" method="POST">
                                {% csrf_token %}

                              <input type="hidden" id="reward_item_id" name="reward_item_id" value={{reward.item_id}}>

                              <input type="hidden" id="special_deal_id" name="special_deal_id" value="0">

                                <button href="{% url 'cart' %}" class="btn btn-outline-success" type="submit">Redeem</button>
                              </form> 


                          </div>
                        </div>
                      </div>
                              
                            
                          
       {% else %}
               <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                          <div class="text-right"><span class="badge badge-danger">
                            {{reward.points_required}} points</span></div>    
                          <div class="card-body">
                                                  
                            <div class="row no-gutters align-items-center">
                              
                                 
                                  <div class="myfont">{{reward.item_name }} &nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;</div>
                                
                                  <br>
                                
                                <img src="{{ reward.item_image.url }}" class="rounded" alt="Cinque Terre" width="165" height="170"> 

                                <div class="h5 mb-0 font-weight-bold text-gray-800">Rs.{{ reward.item_price}}</div>
                              </div>
                              
                              <br>

                              <div class="text-center">
                               <a href="{% url 'purchase_points' %}" class="btn btn-outline-danger">Purchase Points</a>
                             </div>
                          </div>
                        </div>
                      </div>
    
       {% endif %}



    {% endfor %}

    



    

  
{% endblock content %}

{% block extra_script %}
 
{% endblock extra_script %}
