{% extends "base.html" %}
{% load static %}
{% block extra_css %}

  <link href="{% static 'css/earn_spend_history.css' %}" rel="stylesheet" type="text/css">
  <!--for google font userd for reward_item_name-->
  {% endblock extra_css %}

{% block content %}

<div class="btn-group btn-group-lg">
  <a href="{% url 'earn_history' %}" class="btn btn-outline-info">Earning History &nbsp;

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  <a href="{% url 'spend_history' %}" class="btn btn-outline-info">Spend History&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

  <a href="{% url 'purchase_history' %}" class="btn btn-outline-info active">Purchased History&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div><br><br>





{% for purchase in purchase_points %}



     {% if purchase < 1 %}<!--when reservation ==0 ...there was nootherway of printing this-->
                <h2>No any Purchase History </h2>
      {% else %}

              <article class="media content-section">
                <img class="rounded" src="/media/razorpay.png" width="100" height="100">
                &nbsp; &nbsp; &nbsp; 
                <div class="media-body">
                  
                  <div class="article-metadata">
                    <font size="4"><spam class="text-info" >Razorpay Order</spam></font>
                    
                    <small class="text-muted">&nbsp;{{ purchase.date }}</small>
                  </div>

                  
                  <div class="article-metadata">
                     <p>Amount Debited -> {{purchase.amount_debited}}</p>
                  </div>
                   
                  <div class="article-metadata">
                     <p>Points Purchased -> {{purchase.points_added}}</p>
                  </div>

                  
                </div>
              </article>
      {% endif %}

{% endfor %}



    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}


{% endblock content %}